#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.Login, .Signup {
    max-width: 300px;
    margin: 50px;
    padding: 30px;
    border: 1px solid lightslategray;
    border-radius: 8px;
    background-color: white;
}

.Login-Title, .Signup-Title {
    text-align: center;
    margin-bottom: 30px;
    color:  rgb(20, 20, 228);
}

.FormDiv {
    margin-bottom: 15px;
}

.FormDiv label {
    display: block;
    font-weight: bold;
}

.Login button, .Signup button {
    width: 100%;
    padding: 14px;
    background-color: rgb(20, 20, 228);
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.Login button:hover, .Signup button:hover {
    background-color: darkblue;
}

.Login p, .Signup p {
    margin-top: 15px;
}

.Login a, .Signup a {
    color: rgb(20, 20, 228);
}

.Login a:hover, .Signup a:hover {
    text-decoration: underline;
}

.error {
    color: black;
    background-color: lightcoral;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 15px;
}

.Login input, .Signup input {
    padding: 10px;
    color: black; 
    background-color: white; 
}

.App-description {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #555;
}

.portal-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.portal-links a {
    background-color: rgb(42, 60, 219);
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
}

.portal-links a:hover {
    background-color: darkblue;
}
